# Almanac Scraper

## Necessary Inputs

In [11]:
import pandas as pd
import datetime
import requests
from bs4 import BeautifulSoup

## Create List of Dates to Investigate

In [80]:
# More info at: https://www.geeksforgeeks.org/python-iterating-through-a-range-of-dates/
start_date = datetime.date(2023, 1, 1)
end_date = datetime.date(2023, 1, 7)

delta = datetime.timedelta(days=1)

target_dates = []

while(start_date <= end_date):
    target_dates.append(start_date)
    start_date += delta
target_dates

[datetime.date(2023, 1, 1),
 datetime.date(2023, 1, 2),
 datetime.date(2023, 1, 3),
 datetime.date(2023, 1, 4),
 datetime.date(2023, 1, 5),
 datetime.date(2023, 1, 6),
 datetime.date(2023, 1, 7)]

## Function For Scraping Almanac Page

In [105]:
headers = {
    "User-Agent": 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36'
}

def build_almanac_url(date):
    # Almanac URL Example 'https://www.almanac.com/weather/history/WY/Laramie/2023-01-17'
    base_url = 'https://www.almanac.com/weather/history/WY/Laramie/'
    format_date = date.strftime('%Y-%m-%d')
    return base_url + format_date
    
weather_data = {
    'Temperature Minimum': [],
    'Temperature Mean': [],
    'Temperature Max': [],
    'Precipitation Mean': [],
    'Wind Speed Mean': [],
    'Date': [],
}

for date in target_dates:
    almanac_url = build_almanac_url(date)
    almanac_html = requests.get(almanac_url, headers = headers).text
    
    # For more information on BeautifulSoup, visit the docs: https://www.crummy.com/software/BeautifulSoup/bs4/doc/
    soup = BeautifulSoup(almanac_html, 'html.parser')
    weather_table = soup.find('table', class_='weatherhistory_results') 

    rows = weather_table.find_all('tr')
    data_rows = weather_table.find_all('tr', class_=lambda x: x != 'weatherhistory_results_section')
    
    temp_min_row = weather_table.find('tr', class_='temp_mn')
    temp_mean_row = weather_table.find('tr', class_='temp')
    temp_max_row = weather_table.find('tr', class_='temp_mx')
    precipitation_mean_row = weather_table.find('tr', class_='prcp')
    wind_speed_mean_row = weather_table.find('tr', class_='wdsp')

    temp_min_f = temp_min_row.find('span', class_='value').text
    temp_mean_f = temp_mean_row.find('span', class_='value').text
    temp_max_f = temp_max_row.find('span', class_='value').text
    precipitation_mean_inches = precipitation_mean_row.find('span', class_='value').text
    wind_speed_mean_mph = wind_speed_mean_row.find('span', class_='value').text


    weather_data['Temperature Minimum'].append(temp_min_f)
    weather_data['Temperature Mean'].append(temp_mean_f)
    weather_data['Temperature Max'].append(temp_max_f)
    weather_data['Precipitation Mean'].append(precipitation_mean_inches)
    weather_data['Wind Speed Mean'].append(wind_speed_mean_mph)
    weather_data['Date'].append(date.strftime('%Y-%m-%d'))
print('Done.')

Done.

In [107]:
weather_df = pd.DataFrame(weather_data)
weather_df

,Temperature Minimum,Temperature Mean,Temperature Max,Precipitation Mean,Wind Speed Mean,Date
0,25.0,28.7,39.0,0.09,13.35,2023-01-01
1,19.4,22.5,27.0,0.08,11.28,2023-01-02
2,7.0,17.4,24.1,0.01,2.99,2023-01-03
3,7.0,17.7,25.0,0.00,14.04,2023-01-04
4,10.9,23.8,37.0,0.00,16.57,2023-01-05
5,12.9,29.7,37.0,0.00,9.21,2023-01-06
6,17.1,24.5,33.1,0.01,7.13,2023-01-07